<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ADL Automation Suite" parallel="methods" thread-count="5" verbose="2">
    
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    
    <test name="Login Tests" parallel="false">
        <classes>
            <class name="testsuite.LoginTest"/>
        </classes>
    </test>
    
    <test name="Dashboard Tests" parallel="false">
        <classes>
            <class name="testsuite.DashboardTest"/>
        </classes>
    </test>
    
    <test name="Contract Tests" parallel="false">
        <classes>
            <class name="testsuite.ContractTest"/>
        </classes>
    </test>
    
</suite>